{% extends "core/base.html" %}

{% block title %}Info | {% endblock %}
{% block content %}

<h5>
     2023 (c) TigersSoftwareClass. All rights reserved.
     <br><br>
     All rules and guidelines of usign this website are as follows:
     <ul class="info">
          <li>
               This website is a web which accomodates people in need of computer skills
          </li>
          <li>
               Frontend: <br>
               We offer HTML, CSS, JavaSript, Python, C++, etc.
          </li>
          <li>
               Backend: <br>
               We offer Django, Node.js, Angular.js etc
          </li>
          <li>For the first 6months, we'll cover the core programming languages <br>
          which are HTML, CSS, JavaScript and Python </li>
          <li>Only users that has made payment from the Programming Class 2023
               <br>can make access this website
          </li>
     </ul>
</h6>

<style>
     .info {
          color: teal;
          list-style: square;
     }
</style>
{% endblock %}