{% extends "core/base.html" %}

{% block title %}Info | {% endblock %}
{% block content %}

<h5>
     2023 (c) TigersSoftwareClass. All rights reserved.
     <br><br>
     <ol>
               <li>Acceptance Of Terms:
               <br>     By using our educational learning online application , you agree to be bound 
               <br>     by these terms and conditions. If you do not agree with any terms and conditions, <br>
                you should discontinue your use of the application immediately.
               </li>
               <br>
               <li>
                    Access and Use Of the Application: <br>
                    Our educational learning online application is provided for  educational purpose <br>
                    and informational purposes only. You may use the application solely for your personal <br>
                    non-commercial use. <br>
                    You may not use the application for any the application for any other purpose without <br>
                    our express written consent.
               </li>
               <br>
               <li>
                    Registration and User Accounts: <br>
                    Some features of the application may require you to create an account. <br>
                    You agree to provide accurate and complete information when registering for <br>
                    an account. You are responsible for maintaining the security of your <br> account and password.
               </li>
               <li>
                    User Content: <br>
                    Our educational content learning online application may allow you to <br>
                    submit, upload, publish, display, or transmit content, such as <br>
                    comments or user-generated content. You retain all rights in, and <br>
                    are solely responsible for, the content you submit content or upload to the <br>
                    application. You agree not to submit content that is unlawful, <br>
                    defamatory, obscene, or infringes on any third-party rights.
               </li>
               <li>
                    Intellectual Property: <br>
                    All content and materials available on our  educational learning <br>
                    online application, including but not limited to text, graphics, <br>
                    logos, icons, images, audio clips, videos, data compilations, and <br>
                    software, is the property of our company or its licensors and is <br>
                    protected by Nigerian and international copyright laws.
               </li>
               <li>
                    Disclaimer of Warranties: <br>
                    Our educational learning online application is provided " as is" and <br>
                    without warranties of any kind, either express or implied. We do <br>
                    not warrant that the application will be uninterrupted, error <br>
                    -free, or free from viruses or other harmful components. 
               </li>
               <li>
                    Limitation of liability: <br>
                    In no event shall our company or its affliates, directors, officers, <br>
                    employees, or agents be liable for any direct, indirect, incidental, <br>
                    special, or consequential damages arising out of or in connection <br>
                    with the use of our educational learning online application.
               </li>
               <li>
                    Indemnification: <br>
                    You agree to indemnify, defend, and hold harmless our company and its <br>
                    affliates, directors, officers, employees, and agents from any and all claims, <br>
                    damages, liabilies, costs, and expenses, <br>
                    including reasonable attorneys' fees, arising out of or in <br>
                    connection with your use of the application or the violation of these terms and conditions.
               </li>
               <li>
                    Modification of Terms and Conditions: <br>
                    We reserve the right to modify these terms and conditions at any <br>
                    time. Your continued use of our educational learning online <br>
                    application after any such modification shall constitute your acceptance of the <br>
                    modified terms and conditions.
               </li>
               <li>
                    Governing Law and Jurisdiction: <br>
                    These terms and conditions shall be governed by and construed in <br>
                    accordance with the laws of Nigeria and the Institutional Community without <br>
                    giving effect to any principles of conflicts of law. <br>
                    Any legal action or proceeding arising out of or relating to <br>
                    these terms and conditions shall be brought exclusively in the state or federal courts and <br>
                    your consent to the jurisdiction of such courts.  
               </li>
               <li>
                    Entire Agreement: <br>
                    These terms and conditions, together with any additional terms to which you agree when using <br>
                    particular elements of our educational learning online application,<br>
                    agreement between you and our company with respect to <br>
                    the use of the application.
               </li>
          </ol>
</h6>

<style>
     .info {
          color: teal;
          list-style: square;
     }
</style>
{% endblock %}